@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

html {
    font-size: 62.5%;
    font-family: 'Righteous', cursive;
}

.header_navigation {
    position: fixed;
    padding: 20px;
    top: 0;
    z-index: 2;
    width: 100%;
    background: #81B3B2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header_navigation ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.header_navigation ul li a {
    text-decoration: none;
    padding: 10px;
    font-family: 'Righteous', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
}


.background_logo_layer1 {
    position: fixed;
    width: 142px;
    height: 142px;
    left: 50%;
    transform: translate(-50%);
    top: 0px;
    border-radius: 100%;
    background: #81B3B2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 1;
}

.background_logo_layer3 {
    position: fixed;
    width: 142px;
    height: 142px;
    left: 50%;
    transform: translate(-50%);
    top: 0px;
    border-radius: 100%;
    background: #81B3B2;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background_logo_layer3 .logo {
    width: 90%;
}

.body {
    padding: 150px;
    background-color: rgba(132, 181, 180, 1);
    min-height: 700px;
}

.background {
    background-color: #fff2cc;
    width: 100%;
    height: 300px;
    /* position: absolute; */
    border: 5px solid #00b0f049;
    margin-top: 100px;
}

.square {
    background-color: #b4c6e7;
    width: 50%;
    border: 5px solid rgba(255, 0, 0, 0.264);
    position: relative;
    top: 50px;
    left: 50px;
    padding: 10px;
}

.title {
    font-size: 20px;
    font-weight: 600;
    color: green;

}

.login {
    margin-left: 50%;
}

.login_pageName {
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
    width: 50%;
}


.login_container {
    display: inline-flex;
    height: 250px;
    background-color: white;
    align-items: center;
    justify-content: center;
    background: linear-gradient(0deg, #F8F2F2, #F8F2F2), #F8F2F2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 70px;
    min-width: 500px;
}

.login_field {
    margin: 15px 0 0 20px;
}

.login_form {
    background: linear-gradient(113.79deg, #B6B28D 32.4%, rgba(179, 170, 137, 0.484832) 79.58%, #D2BF9F 100%);
    height: 90%;
    width: 95%;
    margin: 0;
}

.login_label {
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 40px;

    color: #515354;

}

.login_input {
    background: #FCEDCE;
    border: none;
    margin-left: 10px;
    height: 28px;
    width: 50%;
}

.login_btn {
    width: 30px;
    height: 60px;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    background-color: white;
    border: none;
    font-family: 'Righteous';
    font-size: 24px;
    left: 94%;
    position: relative;
    top: -15%;
}

.sqnum {
    font-size: large;
    font-weight: 600;
}

.res {
    height: 40px;
    font-size: 20px;
    font-weight: 600;
    color: #555;
}

.btn {
    background-color: var(--background-color);
    color: #2f2f2f;
    padding: 5px 5px;
    border: none;
    outline: none;
    position: relative;
    text-decoration: none;
    border-radius: 2px;
    cursor: pointer;
    min-width: 100px;
    margin-left: 10px;
    font-family: 'Righteous';
    border-radius: 0;

    --background-color: #84b5b4;
    --border-size: 2px;
    --accent-color: #0AF;
}

.btn-light-color {
    background-color: #fbeccd;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.btn.btn-border-pop::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    border: var(--border-size) solid var(--background-color);
    transition: top, left, right, bottom, 100ms ease-in-out;
}

.btn.btn-border-pop:hover::before,
.btn.btn-border-pop:focus::before {
    top: calc(var(--border-size) * -2);
    left: calc(var(--border-size) * -2);
    right: calc(var(--border-size) * -2);
    bottom: calc(var(--border-size) * -2);
}



.wrapper {
    display: inline-flex;
    padding-top: 50px;
    justify-content: center;
}

.collapsible {
    max-width: 450px;
    overflow: hidden;
    font-weight: 500;
}

.collapsible input {
    display: none;
}

.collapsible label {
    position: relative;
    font-weight: 100;
    background-color: #fbeccd;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.1), 0 4px 11px 0 rgba(0, 0, 0, 0.08);
    color: #818181;
    display: block;
    margin-bottom: 10px;
    cursor: pointer;
    padding: 15px;
    border-radius: 2px;
    z-index: 1;
    font-family: 'Righteous';
}

.collapsible label:after {
    content: "";
    position: absolute;
    right: 15px;
    top: 15px;
    width: 18px;
    height: 18px;
    transition: all 0.3s ease;
    background: url(arrow.svg) no-repeat 0 0;
    background-color: #818181;
    transform: scale(1.5);
}

.collapsible input:checked+label:after {
    transform: rotate(90deg);
}

.collapsible_text {
    max-height: 1px;
    overflow: hidden;
    border-radius: 2px;
    line-height: 1.4;
    position: relative;
    top: -100%;
    opacity: 0.5;
    transition: all 0.3s ease;
}

.collapsible input:checked~.collapsible_text {
    max-height: 300px;
    padding-bottom: 25px;
    background: #f8f2f2;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.1), 0 4px 11px 0 rgba(0, 0, 0, 0.08);
    opacity: 1;
    top: 0;
}

.collapsible_text h2 {
    margin-bottom: 10px;
    padding: 15px 15px 0;
    color: #2f2f2f;
    font-family: 'Righteous';
}

.collapsible_text p {
    padding: 0 15px 15px;
    color: #2f2f2f;
    font-family: 'Righteous';
    font-size: 12px;
}

.scrollable {
    height: 200px;
    overflow: auto;
}

.footer {
    display: flex;
    flex-direction: column;
    background-color: rgb(232, 237, 245);
    box-shadow: 0 0 4px silver;
    width: 100%;
    align-items: center;
}

.footer__contact {
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.university,
.contact,
.footer__section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__section span {
    padding: 16px 0 6px 0;
    color: rgb(102, 102, 102);
    font-size: 1.4rem;
    text-align: center;
}

.footer__section span i {
    color: var(--primary-color-1);
    font-weight: 700;

}

.footer__section img {
    width: 120px;
}

.footer__section li a,
.footer__section li {
    font-size: 1.5rem;
    color: rgb(102, 102, 102);

}

.footer__section li a {
    cursor: pointer;
}

.footer__section li a:hover {
    color: blue;
}

.footer__section li i {
    padding-right: 6px;
}

.contact {
    padding-bottom: 16px;
    border-bottom: 1px #333 solid;
}

.centre {
    text-align: center
}

.search_container {
    display: inline-block;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    max-width: 600px;
}

.search_hint_item {
    font-size: 24px;
    font-family: 'Righteous';
    padding-left: 12px;
    opacity: 0.8;
    border-bottom: solid 1px #4c4c4c;
}

.product_img {
    display: block;
    border-radius: 4px;
    width: 100%;

}

.product_container {
    background-color: #e8e8e8;
    display: inline-block;
    margin: 24px;
    width: 350px;
    border-radius: 4px;
    border: solid 8px #e6e0c8;
    font-family: 'Righteous';
    color: #4c4c4c;
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    font-family: 'Righteous';
    transition: background-color .3s;

}

.pagination a.pagination_active {
    background-color: #e6e0c8;
    color: #4c4c4c;
    border-radius: 5px;
    text-decoration: none;

}

.pagination a:hover:not(.pagination_active) {
    background-color: #e8e8e8;
    border-radius: 5px;
    text-decoration: none;

}

.hoverFill {
    color: #0000;
    background:
        linear-gradient(90deg, #818181 50%, #F1ECD8 0) var(--_p, 100%)/200% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    transition: .3s;
}

.hoverFill:hover {
    --_p: 0%;
}

#half_screen {
    display: inline-flex;
    height: 300px;
    width: 650px;
}

#windyfeng {
    position: absolute;
    width: 438px;
    height: 300px;
    /* left: 139px;
    top: 324px; */

    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 136px;
    line-height: 169px;

    color: #E6E0C8;
    cursor: alias;

}

#search_box {
    width: 400px;
    height: 36px;
    border: none;
    border-radius: 3px;
    font-family: 'Righteous';
    margin-bottom: 5px;
}

#search_hint {
    max-width: 400px;
    background-color: white;
}

#windyfeng--background {
    position: absolute;
    width: 442px;
    height: 300px;
    /* left: 135px;
    top: 324px; */

    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 140px;
    line-height: 174px;

    color: #81B3B2;
    cursor: alias;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#logo {
    width: 2rem;
    position: relative;
    top: 0.5rem;
}

#error {
    color: red;
    background-color: #e8edf5;
    display: inline;
    padding: 5px;
}